{% extends "webapp/base.html" %}
{% load static from staticfiles %}
{% load i18n towel_form_tags %}

{% block content %}
<div class="pages">
    <div data-page="registrazione_set_password" class="page no-toolbar no-navbar">
        <div class="page-content">
            <div class="navbarpages">
                <div class="navbar_left">
                    <div class="logo_text"><a href="#">Tables<span>BOT</span></a></div>
                </div>
            </div>

            <div id="pages_maincontent">
                <div id="login_form" class="content-block">
                    <h2>REGISTRAZIONE</h2>
                    <div class="loginform">
                      <form action="." method="post" class="form form-horizontal">
                        {% csrf_token %}
                        {% form_errors form %}
                        {% form_item form.new_password1 %}
                        {% form_item form.new_password2 %}

                        <div class="form-actions">
                          <input type="submit" name="submit" class="form_submit" id="submit" value="IMPOSTA PASSWORD" />
                        </div>

                        <script type="text/javascript">document.getElementById("{{ form.new_password1.auto_id }}").focus();</script>
                      </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
  .help, label { display: none;}
  .error strong,
  .error ul li span {
    display: none;
  }
  .error {
    font-size: 1.2em;
    font-weight: bold;
    color: #f65821;
    margin-bottom: 6px;
  }
</style>
{% endblock %}
